@{
    ViewData["Title"] = "Login";
}
<div class="container mt-4">
    <h2>Login</h2>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required />
        </div>


        <div class="d-flex justify-content-between mt-2">
            <button type="submit" class="btn btn-success">Login</button>
            <a href="/Account/Register" class="btn btn-info">Register</a>
        </div>

    </form>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger mt-2">@ViewBag.Error</div>
    }
    <br />
    <a href="/Account/Reset">Forgot Password?</a>
</div>
